.tag {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 24.4rem;
  max-width: 12.1rem;
  padding: 0.6rem 0.4rem;
  &.blue-tag {
    .icon {
      background: rgb(63, 103, 186, 0.15);
    }
    span {
      color: #3f67ba;
    }
  }
  .icon {
    width: 2.6rem;
    height: 2.6rem;
    background: rgba(194, 0, 1, 0.2);
    border-radius: 50%;
    @include centerTotalFlex;
    margin-right: 0.8rem;
  }
  span {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 150%;
    color: #c20001;
  }
}

.search {
  background: #ffffff;
  border-radius: 12.2rem;
  width: 100%;
  max-width: 40.3rem;
  height: 5.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2.5rem;
  padding-right: 0.7rem;
  input[type='text'] {
    border: 0;
    outline: none;
    width: 80%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 150%;
    color: #a0afba;
    &::placeholder {
      color: #a0afba;
    }
  }
  button {
    width: 4.2rem;
    height: 4.2rem;
    background: rgb(158, 185, 225, 0.1);
    border: 1px solid #e1e9ef;
    border-radius: 50%;
    @include centerTotalFlex;
    transition: border-color 0.3s;
    &:hover {
      border-color: #3e75c3;
    }
  }
}

.type-filter {
  display: flex;
  align-items: center;
  filter: grayscale(100%);
  opacity: 0.6;
  transition: all 0.3s;
  &:hover {
    filter: grayscale(0%);
    opacity: 1;
  }
  .icon {
    width: 2.8rem;
    height: 2.8rem;
    @include centerTotalFlex;
    margin-right: 0.5rem;
  }
  span {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 150%;
  }
  &.bug {
    span {
      color: #9bba48;
    }
  }
  &.dark {
    span {
      color: #595761;
    }
  }
  &.dragon {
    span {
      color: #2c6ac1;
    }
  }
  &.electric {
    span {
      color: #eed967;
    }
  }
  &.fairy {
    span {
      color: #e296e1;
    }
  }
  &.fighting {
    span {
      color: #c44d61;
    }
  }
  &.ground {
    span {
      color: #ce8056;
    }
  }
  &.ice {
    span {
      color: #8bcec1;
    }
  }
  &.poison {
    span {
      color: #ac6aca;
    }
  }
  &.psychic {
    span {
      color: #eb8b85;
    }
  }
  &.rock {
    span {
      color: #8bcec1;
    }
  }
  &.ghost {
    span {
      color: #616eb7;
    }
  }
  &.grass {
    span {
      color: #73b861;
    }
  }
  &.steel {
    span {
      color: #6594a1;
    }
  }
  &.water {
    span {
      color: #88a3d4;
    }
  }
  &.fire {
    span {
      color: #f66d6d;
    }
  }
  &.flying {
    span {
      color: #a6bbe8;
    }
  }
}

.card-pokemon {
  position: relative;
  width: 100%;
  max-width: 28rem;
  height: 30.4rem;
  background-color: #ffffff;
  box-shadow: 0px 10px 51px -5px rgba(183, 189, 193, 0.3);
  border-radius: 1.2rem;
  z-index: 1;
  transition: all 0.3s;
  &:hover {
    transform: scale(1.02);
    box-shadow: 0px 12px 40px -5px rgba(90, 96, 100, 0.3);
  }
  &.bug {
    .image {
      &::after {
        background-color: rgba(155, 186, 72, 0.5);
      }
    }
  }
  &.dark {
    .image {
      &::after {
        background-color: rgba(89, 87, 97, 0.5);
      }
    }
  }
  &.dragon {
    .image {
      &::after {
        background-color: rgba(44, 106, 193, 0.5);
      }
    }
  }
  &.electric {
    .image {
      &::after {
        background-color: rgba(238, 217, 103, 0.5);
      }
    }
  }
  &.fairy {
    .image {
      &::after {
        background-color: rgba(226, 150, 225, 0.5);
      }
    }
  }
  &.fighting {
    .image {
      &::after {
        background-color: rgba(196, 77, 97, 0.5);
      }
    }
  }
  &.ground {
    .image {
      &::after {
        background-color: rgba(206, 128, 86, 0.5);
      }
    }
  }
  &.ice {
    .image {
      &::after {
        background-color: rgba(139, 206, 193, 0.5);
      }
    }
  }
  &.poison {
    .image {
      &::after {
        background-color: rgba(172, 106, 202, 0.5);
      }
    }
  }
  &.psychic {
    .image {
      &::after {
        background-color: rgba(235, 139, 133, 0.5);
      }
    }
  }
  &.rock {
    .image {
      &::after {
        background-color: rgba(139, 206, 193, 0.5);
      }
    }
  }
  &.ghost {
    .image {
      &::after {
        background-color: rgba(97, 110, 183, 0.5);
      }
    }
  }
  &.grass {
    .image {
      &::after {
        background-color: rgba(115, 184, 97, 0.5);
      }
    }
  }
  &.steel {
    .image {
      &::after {
        background-color: rgba(101, 148, 161, 0.5);
      }
    }
  }
  &.water {
    .image {
      &::after {
        background-color: rgba(136, 163, 212, 0.5);
      }
    }
  }
  &.fire {
    .image {
      &::after {
        background-color: rgba(246, 109, 109, 0.5);
      }
    }
  }
  &.flying {
    .image {
      &::after {
        background-color: rgba(166, 187, 232, 0.5);
      }
    }
  }
  .image {
    position: relative;
    width: 20rem;
    height: 20rem;
    @include centerTotalFlex;
    margin: 0 auto;
    margin-bottom: 1.4rem;
    &::after {
      content: '';
      width: 16.5rem;
      height: 16.5rem;
      border-radius: 50%;
      background-color: #d6ebdc;
      position: absolute;
      z-index: -1;
    }
  }
  .info {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 2.8rem;
    .text {
      span {
        display: block;
        text-align: left;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 1.3rem;
        line-height: 150%;
        color: #7a7d80;
        margin-bottom: 0.6rem;
      }
    }
    .icon {
      margin-bottom: 1rem;
    }
  }
}

.tag-type {
  display: inline-block;
  padding: 0 2.5rem;
  line-height: 2.4rem;
  border-radius: 0.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  letter-spacing: -0.01em;
  &.bug {
    color: #9bba48;
    background-color: rgba(155, 186, 72, 0.1);
  }
  &.dark {
    color: #595761;
    background-color: rgba(89, 87, 97, 0.1);
  }
  &.dragon {
    color: #2c6ac1;
    background-color: rgba(44, 106, 193, 0.1);
  }
  &.electric {
    color: #eed967;
    background-color: rgba(238, 217, 103, 0.1);
  }
  &.fairy {
    color: #e296e1;
    background-color: rgba(226, 150, 225, 0.1);
  }
  &.fighting {
    color: #c44d61;
    background-color: rgba(196, 77, 97, 0.1);
  }
  &.ground {
    color: #ce8056;
    background-color: rgba(206, 128, 86, 0.1);
  }
  &.ice {
    color: #8bcec1;
    background-color: rgba(139, 206, 193, 0.1);
  }
  &.poison {
    color: #ac6aca;
    background-color: rgba(172, 106, 202, 0.1);
  }
  &.psychic {
    color: #eb8b85;
    background-color: rgba(235, 139, 133, 0.1);
  }
  &.rock {
    color: #8bcec1;
    background-color: rgba(139, 206, 193, 0.1);
  }
  &.ghost {
    color: #616eb7;
    background-color: rgba(97, 110, 183, 0.1);
  }
  &.grass {
    color: #73b861;
    background-color: rgba(115, 184, 97, 0.1);
  }
  &.steel {
    color: #6594a1;
    background-color: rgba(101, 148, 161, 0.1);
  }
  &.water {
    color: #88a3d4;
    background-color: rgba(136, 163, 212, 0.1);
  }
  &.fire {
    color: #f66d6d;
    background-color: rgba(246, 109, 109, 0.1);
  }
  &.flying {
    color: #a6bbe8;
    background-color: rgba(166, 187, 232, 0.1);
  }
}

.btn-load-more {
  background: rgba(63, 93, 179, 0.1);
  border-radius: 0.6rem;
  padding: 1.4rem 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  letter-spacing: -0.01em;
  color: #3f5db3;
  transition: background-color 0.3s, color 0.3s;
  &:hover {
    background-color: #3f5db3;
    color: #ffffff;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include centerTotalFlex;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  &[typePokemonModal='bug'] {
    .box {
      .left-container {
        background: url('../img/bg-types/bug.svg');
      }
    }
  }
  &[typePokemonModal='dark'] {
    .box {
      .left-container {
        background: url('../img/bg-types/dark.svg');
      }
    }
  }
  &[typePokemonModal='dragon'] {
    .box {
      .left-container {
        background: url('../img/bg-types/dragon.svg');
      }
    }
  }
  &[typePokemonModal='electric'] {
    .box {
      .left-container {
        background: url('../img/bg-types/electric.svg');
      }
    }
  }
  &[typePokemonModal='fairy'] {
    .box {
      .left-container {
        background: url('../img/bg-types/fairy.svg');
      }
    }
  }
  &[typePokemonModal='fight'] {
    .box {
      .left-container {
        background: url('../img/bg-types/fight.svg');
      }
    }
  }
  &[typePokemonModal='ground'] {
    .box {
      .left-container {
        background: url('../img/bg-types/ground.svg');
      }
    }
  }
  &[typePokemonModal='ice'] {
    .box {
      .left-container {
        background: url('../img/bg-types/ice.svg');
      }
    }
  }
  &[typePokemonModal='normal'] {
    .box {
      .left-container {
        background: url('../img/bg-types/normal.svg');
      }
    }
  }
  &[typePokemonModal='psychic'] {
    .box {
      .left-container {
        background: url('../img/bg-types/psychic.svg');
      }
    }
  }
  &[typePokemonModal='rock'] {
    .box {
      .left-container {
        background: url('../img/bg-types/rock.svg');
      }
    }
  }
  &[typePokemonModal='ghost'] {
    .box {
      .left-container {
        background: url('../img/bg-types/ghost.svg');
      }
    }
  }
  &[typePokemonModal='grass'] {
    .box {
      .left-container {
        background: url('../img/bg-types/grass.svg');
      }
    }
  }
  &[typePokemonModal='steel'] {
    .box {
      .left-container {
        background: url('../img/bg-types/steel.svg');
      }
    }
  }
  &[typePokemonModal='water'] {
    .box {
      .left-container {
        background: url('../img/bg-types/water.svg');
      }
    }
  }
  &[typePokemonModal='fire'] {
    .box {
      .left-container {
        background: url('../img/bg-types/fire.svg');
      }
    }
  }
  &[typePokemonModal='flying'] {
    .box {
      .left-container {
        background: url('../img/bg-types/flying.svg');
      }
    }
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgb(0, 0, 0, 0.5);
  }
  .box {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 71rem;
    height: 50.8rem;
    background-color: #ffffff;
    box-shadow: 0px 10px 40px rgba(13, 12, 71, 0.05);
    border-radius: 1.6rem;
    display: flex;
    transform: translateY(4rem);
    transition: transform 0.3s ease-in;
    .close {
      position: absolute;
      top: -4.4rem;
      right: 0;
      width: 3.6rem;
      height: 3.6rem;
      background-color: #ffffff;
      border-radius: 0.8rem;
      @include centerTotalFlex;
    }
    .left-container {
      position: relative;
      width: 100%;
      height: 100%;
      max-width: 19.1rem;
      background-repeat: no-repeat;
      background-position: center center;
      .icon {
        position: absolute;
        top: 2rem;
        right: 2rem;
        width: 3.4rem;
        height: 3.4rem;
        border-radius: 50%;
        background-color: #ffffff;
        @include centerTotalFlex;
      }
      .image {
        position: absolute;
        left: 1.4rem;
        bottom: 13.8rem;
        width: 20.2rem;
        img {
          width: 100%;
        }
      }
    }
    .right-container {
      padding: 3.5rem 7.2rem 2.9rem 7.4rem;
      .name {
        display: flex;
        align-items: flex-end;
        margin-bottom: 1rem;
        h2 {
          font-family: 'Montserrat', sans-serif;
          font-weight: 700;
          font-size: 2.8rem;
          line-height: 3.4rem;
          letter-spacing: -0.01em;
          color: #2f3133;
        }
        span {
          position: relative;
          margin-top: -0.3rem;
          margin-left: 0.8rem;
          display: inline-block;
          font-family: 'Montserrat', sans-serif;
          font-size: 1.6rem;
          line-height: 2rem;
          letter-spacing: -0.01em;
          color: #7a7d80;
        }
      }
      .type {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 3.2rem;
        li {
          &:not(:first-child) {
            margin-left: 1rem;
          }
        }
      }
      .info {
        display: flex;
        align-items: flex-start;
        margin-bottom: 3.2rem;
        li {
          &:not(:first-child) {
            margin-left: 4.8rem;
          }
          span {
            display: block;
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            font-size: 1.3rem;
            line-height: 1.6rem;
            letter-spacing: -0.01em;
            color: #7a7d80;
            margin-bottom: 0.4rem;
          }
          strong {
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 1.4rem;
            line-height: 1.7rem;
            letter-spacing: -0.01em;
            color: #2f3133;
          }
        }
      }
      .weak {
        margin-bottom: 3.2rem;
        h4 {
          font-family: 'Inter', sans-serif;
          font-weight: 600;
          font-size: 1.3rem;
          line-height: 1.6rem;
          letter-spacing: -0.01em;
          color: #4d5053;
          margin-bottom: 1.6rem;
        }
        ul {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          align-items: 100%;
          li {
            &:not(:first-child) {
              margin-left: 1rem;
            }
          }
        }
      }
      .stats {
        h5 {
          font-family: 'Inter', sans-serif;
          font-weight: 600;
          font-size: 1.3rem;
          line-height: 1.6rem;
          letter-spacing: -0.01em;
          color: #4d5053;
          margin-bottom: 1.6rem;
        }
        .all {
          .item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &:not(:last-child) {
              margin-bottom: 1.3rem;
            }
            span {
              display: block;
              max-width: 6.8rem;
              font-family: 'Inter', sans-serif;
              font-weight: 400;
              font-size: 1.2rem;
              line-height: 1.5rem;
              color: #7a7d80;
            }
            .bar-status {
              position: relative;
              width: 100%;
              max-width: 28.3rem;
              height: 0.3rem;
              background-color: #eff3f6;
              .bar {
                top: 0;
                left: 0;
                z-index: 0;
                width: 56%;
                height: 100%;
                background-color: #c20001;
                .separator {
                  position: absolute;
                  top: 0;
                  left: 0;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 100%;
                  li {
                    width: 0.4rem;
                    height: 0.3rem;
                    background-color: #ffffff;
                    &:not(:first-child) {
                      margin-left: 5.4rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.open-modal {
  .modal {
    opacity: 1;
    pointer-events: all;
    .box {
      transform: translateY(0);
    }
  }
}
